

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #073c64;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #fdbf02;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */
#buku {
  width: 100%;
  position: relative;
  background: url("../img/bg1.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 175px 0 120px 0;
}
.back-to-top {
  position: fixed;
  display: none;
  background: #757575;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background:#073C64;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}


#header.header-scrolled,
#header.header-pages {
  height: 80px;
  padding: 20px 0;
  background-color: #073C64;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo .scrollto img{
      text-decoration: none;
      display: table-cell;
      vertical-align: middle;
    }

#header .logo .scrolled img{
      transition: all ease-in-out .3s;
      text-decoration: none;
      display: none;
      vertical-align: middle;
      height: 70px;
    width: 200px;
    }

#header.header-scrolled .logo .scrollto img{
  display: none;
}

#header.header-scrolled .logo .scrolled img{
  display: block;
}


.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  top: -10px;
  text-transform: uppercase;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #FFCD40;
  text-decoration: none;
}
.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #073C64;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #fff;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color:#FFCD40;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}


/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  color: white;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #FFCD40;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}



.main-pages {
  margin-top: 60px;
}
.navbar-header {
        padding-top: 10px;
        padding-bottom: 10px;
      }

.top-bar {
  min-height: 30px;
    background-color: #fff;
}

.joosa.top_links {
  float: right;
  width: 100%;
  padding-top: 3px;
  margin-bottom: 18px;
  text-align: right;
  color: #001A33;
}
.joosa.top_links {
  font-size: 12px;
}
.joosa.top_links strong {
  color: #001A33;
  font-size: 14px;
  font-weight: normal;
}
.joosa.top_links a.makeap_but {
  color: #fff;
  background-color: #001A33;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 600;
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#awal {
  width: 100%;
  position: relative;
  background: url("../img/contoh.png") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 99px 0;
  height: 1px;
}
#intro
.video-background-holder {
    position: relative;
    background-color: white;
    height: calc(100vh - 72px);
    min-height: 41rem;
    width: 100%;
    overflow: hidden;
}
  
.video-background-holder video {
    position: absolute;
    top: 69%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
.video-background-content {
    position: relative;
    z-index: 2;
}
  
.video-background-overlay {
    position: absolute;
    top: 95px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
 .int-info {
  width: 100%;
 ;
}

 .int-info h2 {
  color: #fff;
  margin-bottom: -55px;
  font-size: 48px;
  font-weight: 400;
}




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */
sub_menu .sub_menu_social_icon a {
  color: #fff;
  margin-right: 20px;
}

/* line 31, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_sub_menu.scss */
.sub_menu .sub_menu_social_icon a:hover {
  color: #fe5c24;
}

/**************menu part start*****************/
/* line 4, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.main_menu .navbar-brand {
  padding-top: 0rem;
}

@media (max-width: 576px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .navbar-brand img {
    max-width: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .navbar-brand img {
    max-width: 200px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .navbar-brand img {
    max-width: 200px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .navbar-brand img {
    max-width: 200px;
  }
}

/* line 26, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.main_menu .navbar {
  padding: 0px;
}

/* line 30, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.main_menu .main-menu-item {
  text-align: right !important;
  justify-content: right;
}

/* line 35, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.main_menu .main-menu-item ul li .nav-link {
  color: #2f373d;
  font-size: 18px;
  padding: 45px 34px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

/* line 41, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.main_menu .main-menu-item ul li .nav-link:hover {
  color: #fe5c24;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 35, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .main-menu-item ul li .nav-link {
    padding: 35px 16px;
  }
}

/* line 52, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
}

/* line 60, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.menu_fixed .navbar-brand img {
  max-width: 150px;
}

/* line 64, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.menu_fixed .main-menu-item ul li .nav-link {
  padding: 25px 25px;
}

/* line 67, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.menu_fixed span {
  color: #000 !important;
}

/* line 75, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* line 81, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  margin-top: 0px;
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}

/* line 93, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

@media (max-width: 991px) {
  /* line 100, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu_iner {
    padding: 20px 0px;
  }
  /* line 104, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  /* line 108, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 65px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
  }
  /* line 120, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
  }
  /* line 126, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
  }
  /* line 133, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .main-menu-item {
    text-align: left !important;
  }
  /* line 136, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item {
    padding: 10px 15px !important;
  }
  /* line 139, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item a {
    padding: 8px 15px !important;
  }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/



.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}
.section-bg {
  background:   white;
}

/* event Section
--------------------------------*/

#event {
  overflow: hidden;
  background:white;
  background-size: cover;
  padding: 30px 0 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}
.image {
  overflow: block;

}
#event .section-header h3 {
  font-size: 50px;
  color: black;
  text-align: left;
  font-weight: bold;
  position: relative;
  top: -30px;

}
/* Clients Section
--------------------------------*/

#clients {
  padding: 60px 0 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#clients .clients-wrap {
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
}

#clients .client-logo {
  padding: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}

#clients .client-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#clients img {
  transition: all 0.4s ease-in-out;
}



/* Contact Section
--------------------------------*/

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .section-header {
  padding-bottom: 30px;
}

#contact .contact-profil h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007bff;
}

#contact .contact-profil p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #007bff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007bff;
}

#contact .social-links a:hover {
  background: #007bff;
  color: #fff;
}

#contact .info {
  color: #283d50;
}

#contact .info i {
  font-size: 32px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #007bff;
  border: 1px solid #007bff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #0067d5;
  cursor: pointer;
}


.single-post {
    margin-bottom: 30px;
        margin-top: 30px;
}
.single-post .post-heading {
    margin-bottom: 20px;
}
.single-post .post-heading .post-title {
    margin: 0 0 15px;
}
h1, .h1 {
    font-size: 30px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 23px;
    margin-bottom: 11.5px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:"Montserrat", sans-serif;";
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.single-post .post-content .event-table>table th {
    min-width: 120px;
    text-align: left;
    color: #222;
    background-color: transparent !important;
}
.single-post .post-content .event-table>table th, .single-post .post-content .event-table>table td {
    font-family: inherit;
    border: none;
    padding: 5px 0 !important;
}
.table>thead>tr>th, .single-post .post-content table>thead>tr>th, .table>thead>tr>td, .single-post .post-content table>thead>tr>td, .table>tbody>tr>th, .single-post .post-content table>tbody>tr>th, .table>tbody>tr>td, .single-post .post-content table>tbody>tr>td, .table>tfoot>tr>th, .single-post .post-content table>tfoot>tr>th, .table>tfoot>tr>td, .single-post .post-content table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.7142857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.single-post .post-content table th, .single-post .post-content table td {
    padding: 11px 20px;
}
.single-post .post-content table th {
    color: #fff;
    font-weight: bold;
    background-color: #E6E6E6;
    border-top: none !important;
}
th {
    text-align: left;
}
td, th {
    padding: 0;
}
.single-post .post-content .event-table table .colon {
    width: 15px;
    text-align: center;
}
.single-post .post-content .event-table table th, .single-post .post-content .event-table>table td {
    font-family: inherit;
    border: none;
    padding: 5px 0 !important;
}
.table>thead>tr>th, .single-post .post-content table>thead>tr>th, .table>thead>tr>td, .single-post .post-content table>thead>tr>td, .table>tbody>tr>th, .single-post .post-content table>tbody>tr>th, .table>tbody>tr>td, .single-post .post-content table>tbody>tr>td, .table>tfoot>tr>th, .single-post .post-content table>tfoot>tr>th, .table>tfoot>tr>td, .single-post .post-content table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.7142857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.single-post .post-content table th, .single-post .post-content table td {
    padding: 11px 20px;
}
td, th {
    padding: 0;
}
.single-post .post-content .event-table>table .colon+td {
    padding-left: 0 !important;
}
.single-post .post-content .event-table>table th, .single-post .post-content .event-table>table td {
    font-family: inherit;
    border: none;
    padding: 5px 0 !important;
}
.table>thead>tr>th, .single-post .post-content table>thead>tr>th, .table>thead>tr>td, .single-post .post-content table>thead>tr>td, .table>tbody>tr>th, .single-post .post-content table>tbody>tr>th, .table>tbody>tr>td, .single-post .post-content table>tbody>tr>td, .table>tfoot>tr>th, .single-post .post-content table>tfoot>tr>th, .table>tfoot>tr>td, .single-post .post-content table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.7142857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.single-post .post-content table th, .single-post .post-content table td {
    padding: 11px 20px;
}
td, th {
    padding: 0;
}
.single-post .post-heading .entry-meta {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 11.5px;
}
.single-post .post-heading .entry-meta li {
    display: inline-block;
    margin-right: 15px;
    line-height: 30px;
}
.single-post .post-content .event-table {
    font-family:"Montserrat", sans-serif;
    background-color: #E6E6E6;
    padding: 15px 30px;
    margin: 15px 0 30px;
}
.single-post .post-content>p, .single-post .post-content img, .single-post .post-content ol, .single-post .post-content ul, .single-post .post-content dl, .single-post .post-content pre, .single-post .post-content blockquote, .single-post .post-content .wp-caption, .single-post .post-content table {
    margin: 0 0 15px;
}
p {
    margin: 0 0 15px;
}
#body #content, #body #sidebar, #body #second-sidebar {
    padding-top: 40px;
    padding-bottom: 20px;
}
.single-post .post-heading .entry-meta li.post-date:before {
    content: "\f3b3";
}
.single-post .post-heading .entry-meta li:before {
    font-family: "Ionicons";
    font-size: 18px;
    color: #FDCB2C;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.single-post .post-heading .entry-meta li.post-author:before {
    content: "\f213";
}
.single-post .post-heading .entry-meta li:before {
    font-family: "Ionicons";
    font-size: 18px;
    color: #FDCB2C;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.single-post .post-heading .entry-meta li.post-reads:before {
    content: "\f133";
}
.single-post .post-heading .entry-meta li:before {
    font-family: "Ionicons";
    font-size: 18px;
    color: #FDCB2C;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
.single-post .post-heading .entry-meta li.post-comments:before {
    content: "\f11e";
}
.single-post .post-heading .entry-meta li:before {
    font-family: "Ionicons";
    font-size: 18px;
    color: #FDCB2C;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
}
@media (max-width: 767px){
.single-post .post-content .event-table {
    font-family:"Montserrat", sans-serif;
    background-color: #E6E6E6;
    padding: 15px 10px;
    margin: 15px 0 30px;
}
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background:#001A33;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #073C64;
  padding: 60px 0 30px 0;
}


#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #001A33;
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: white;
  color: #001A33;
}

#footer .footer-top h4 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px
  color:black;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links a {
  color: white;
}

#footer .footer-top .footer-links ul a:hover {
  color: white;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}
#footer img{
  color: #f1f7ff;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #testimoni .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px){
#header {
    height: 100px;
    padding: 10px 0;
}

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 140px 0 60px 0;
  }

  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #statistik .card {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
    font
  }

  #testimoni .testimonial-item {
    text-align: center;
  }

  #testimoni .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimoni .testimonial-item h3,
  #testimoni .testimonial-item h4,
  #testimoni .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}
#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*event*/
.post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
}
.post.post-event .event-date {
    border-right: 1px solid #E6E6E6;
    text-align: center;
}
.post .post-event .event-date span {
    
}
.post .post-event .event-date strong {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family:"Montserrat", sans-serif;";
    font-weight: bold;
    color: #222;
}
.post .post-content .post-title>h3 {
    margin: 0 0 5px;
    line-height: 1.3;
    font-weight: normal;
    font-size: 18px;
}
.post .post-content .post-title>h3 a {
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: 20px;
}
.post .post-content .post-title a:hover,a:active,a:focus {
  color: blue;
  outline: none;
  text-decoration: none;
}

.post .post-content .post-title .post-date, .post .post-content .post-title .post-category, .post .post-content .post-title .post-category a {
    margin: 0 7px 7px 0;
    display: inline-block;
    text-decoration: none;
    color: #a6a6a6;
    font-family: "Proxima Nova";
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
a.makeap_but {
  color: white;
  background-color: blue;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 600;
  margin-left: 8px;
}

/*buku*/
#buku {
  width: 100%;
  position: relative;
  background: url("../img/bg1.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 120px 0;
}
.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: navy;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid blue;
  width: 1055px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: blue;
  font-size: 17px;
  border: 1px solid blue;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: navy;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #testimoni .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #header {
    height: 60px;
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 140px 0 60px 0;
  }

  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #statistik .card {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
    text-transform: uppercase;
  }

  #testimoni .testimonial-item {
    text-align: center;
  }

  #testimoni .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimoni .testimonial-item h3,
  #testimoni .testimonial-item h4,
  #testimoni .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}
#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*event*/
.post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
}
.post.post-event .event-date {
    border-right: 1px solid #E6E6E6;
    text-align: center;
}
.post .post-event .event-date span {
    
}
.post .post-event .event-date strong {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family:"Montserrat", sans-serif;";
    font-weight: bold;
    color: #222;
}
.post .post-content .post-title>h3 {
    margin: 0 0 5px;
    line-height: 1.3;
    font-weight: normal;
    font-size: 18px;
}
.post .post-content .post-title>h3 a {
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: 20px;
}
.post .post-content .post-title a:hover,a:active,a:focus {
  color: blue;
  outline: none;
  text-decoration: none;
}

.post .post-content .post-title .post-date, .post .post-content .post-title .post-category, .post .post-content .post-title .post-category a {
    margin: 0 7px 7px 0;
    display: inline-block;
    text-decoration: none;
    color: #a6a6a6;
    font-family: "Proxima Nova";
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
a.makeap_but {
  color: white;
  background-color: blue;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 600;
  margin-left: 8px;
}

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.isi {
  
  color: #999;
}

/*laporan*/
.heading-primary, .lnk-primary,  .text-color-primary {
    color: #073c64 !important;
}
.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background-color: #073c64;
    color: #FFF;
}
li {
    line-height: 24px;
}
.mb-xl {
    margin-bottom: 25px !important;
}
h5 {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 18px;
    margin: 0 0 14px 0;
    text-transform: uppercase;
}
.btn-success {
    border-color: #47a447;
    background-color: #fdbf02;
    border-color: #47a447 #47a447 #388038;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-success:hover {
    background-color: #073c64;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 0px 10px;
    font-size: 12px;
    line-height: 2.5;
    border-radius: 3px;
}
h4 {
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 27px;
    margin: 0 0 14px 0;
}
.sort-source {
    clear: both;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul.nav-list li {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}
.nav>li {
    position: relative;
    display: block;
}
li {
    line-height: 24px;
}
aside ul.nav-list > li > a {
    color: #666;
    font-size: 0.9em;
    padding: 8px 0 8px 18px;
}
ul.nav-list li a {
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    transition: background 0.1s;
    border-bottom: 1px solid #EDEDDE;
    padding: 8px 0 8px 18px;
    display: block;
    color: #666;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 20px;
}
.sort-source > li > a {
    padding: 6px 12px;
}
ul.nav-list li a:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #333;
    margin: 7px 0 0 -9px;
    position: absolute;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}