

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #757575;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background:#fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  display: none;
}


#header.header-scrolled,
#header.header-pages {
  height: 80px;
  padding: 20px 0;
  background-color: #fff;
display: block;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo .scrollto img{
      text-decoration: none;
      display: table-cell;
      vertical-align: middle;
    }

#header .logo .scrolled img{
      transition: all ease-in-out .3s;
      text-decoration: none;
      display: none;
      vertical-align: middle;
      height: 70px;
    width: 200px;
    }

#header.header-scrolled .logo .scrollto img{
  display: block;
}

#header.header-scrolled .logo .scrolled img{
  display: none;
}


.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color:blue;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  top: -10px;
  text-transform: uppercase;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: gold;
  text-decoration: none;
  opacity: 0.8px;
}
.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #073C64;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #fff;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color:#FFC10B;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #FFC10B;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  color: white;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #FFCD40;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}



.main-pages {
  margin-top: 60px;
}
.navbar-header {
        padding-top: 10px;
        padding-bottom: 10px;
      }

.top-bar {
  min-height: 30px;
    background-color: #fff;
}

.joosa.top_links {
  float: right;
  width: 100%;
  padding-top: 3px;
  margin-bottom: 18px;
  text-align: right;
  color: #001A33;
}
.joosa.top_links {
  font-size: 12px;
}
.joosa.top_links strong {
  color: #001A33;
  font-size: 14px;
  font-weight: normal;
}
.joosa.top_links a.makeap_but {
  color: #fff;
  background-color: #001A33;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 600;
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#awal {
  width: 100%;
  position: relative;
  background: url("../img/contoh.png") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 120px 0;
  height: 1px;
}
#intro
.video-background-holder {
    position: relative;
    background-color: white;
    height: calc(100vh - 72px);
    min-height: 41rem;
    width: 100%;
    overflow: hidden;
}
  
.video-background-holder video {
    position: absolute;
    top: 49%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
.video-background-content {
    position: relative;
    z-index: 2;
}
  
.video-background-overlay {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #5d2602;
    opacity: 0.4;
    z-index: 1;
}
 .int-info {
  width: 100%;
 ;
}

 .int-info h2 {
  color: #fff;
  margin-bottom: -28px;
  font-size: 48px;
  font-weight: 400;
}
 .int-info h4 {
  color: #fff;
  margin-bottom: -55px;
  font-size: 36px;
  font-weight: 400;
}





/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */
sub_menu .sub_menu_social_icon a {
  color: #fff;
  margin-right: 20px;
}

/* line 31, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_sub_menu.scss */
.sub_menu .sub_menu_social_icon a:hover {
  color: #fe5c24;
}

/**************menu part start*****************/
/* line 4, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.main_menu .navbar-brand {
  padding-top: 0rem;
}

@media (max-width: 576px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .navbar-brand img {
    max-width: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .navbar-brand img {
    max-width: 200px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .navbar-brand img {
    max-width: 200px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .navbar-brand img {
    max-width: 200px;
  }
}

/* line 26, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.main_menu .navbar {
  padding: 0px;
}

/* line 30, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.main_menu .main-menu-item {
  text-align: right !important;
  justify-content: right;
}

/* line 35, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.main_menu .main-menu-item ul li .nav-link {
  color: #2f373d;
  font-size: 18px;
  padding: 45px 34px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

/* line 41, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.main_menu .main-menu-item ul li .nav-link:hover {
  color: #fe5c24;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 35, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .main-menu-item ul li .nav-link {
    padding: 35px 16px;
  }
}

/* line 52, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0;
}

/* line 60, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.menu_fixed .navbar-brand img {
  max-width: 150px;
}

/* line 64, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.menu_fixed .main-menu-item ul li .nav-link {
  padding: 25px 25px;
}

/* line 67, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.menu_fixed span {
  color: #000 !important;
}

/* line 75, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* line 81, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  margin-top: 0px;
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}

/* line 93, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

@media (max-width: 991px) {
  /* line 100, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu_iner {
    padding: 20px 0px;
  }
  /* line 104, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  /* line 108, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 65px;
    width: 100%;
    background-color: #fff;
    text-align: center !important;
  }
  /* line 120, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
  }
  /* line 126, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
  }
  /* line 133, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .main-menu-item {
    text-align: left !important;
  }
  /* line 136, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item {
    padding: 10px 15px !important;
  }
  /* line 139, ../../01 cl html template/New folder/May 2019/175  Supreme Industry/Supreme Industry Html/sass/_menu.scss */
  .main_menu .main-menu-item .nav-item a {
    padding: 8px 15px !important;
  }
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/



.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

/* Section with background
--------------------------------*/

.section-bg {
   background-color: white;
}
}


/* profil Us Section
--------------------------------*/

#profil {
  padding: 30px 0 0 0;
 
  }
#profil .gambar img{
  max-width: auto;
  max-height: 350px;
  text-align: center;
}
#profil .section-header h3 {
  font-size: 50px;
  color: #073C64;
  text-align:center;
  font-weight: bold;
  position: relative;
  top: 30px;
  margin: 0 0 0px 0;
  
}

#profil .profil-container .background {
  margin: 0px 0;
}

#profil .profil-container .content {
  background: #fff;
  margin-bottom: 80px;
}

#profil .profil-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
  
}

#profil .profil-container p {
  line-height: 32px;
  text-align: justify;
  text-indent: 15px;
}

#profil .profil-container p:last-child {
  margin-bottom: 150px;
}

#profil .profil-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#profil .profil-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#profil .profil-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#profil .profil-container .icon-box:hover .icon {
  background: #007bff;
}

#profil .profil-container .icon-box:hover .icon i {
  color: #fff;
}

#profil .profil-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#profil .profil-container .icon-box .title a {
  color: #283d50;
}

#profil .profil-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#profil .profil-extra {
  padding-top: 60px;
}

#profil .profil-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/*subprofil*/
.profil-container {
  padding-top: 60px;
}
.jarak{
  padding-top: 15px;
  padding-bottom: 20px;
}


/* Services Section
--------------------------------*/

#koleksi {
 
 background: linear-gradient(to bottom , white, #799fcc);
}
#koleksi .section-bg{
   background: url(../img/background/bg3.svg) ;
    padding: 50px 0 351px 0;
}
#koleksi .batas{
  margin-top: 0px;
}
#koleksi .carousel{
  margin-top: 225px;
}
#koleksi .section-header h3 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  position: relative;
 right: -30px;
  margin-bottom: 45px;
  top:173px;
}

.gtco-card-item {
  display: block;
  width: 100%;
  position: relative;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gtco-card-item figure {
  height: 270px;
  overflow: hidden;
  z-index: 12;
  position: relative;
}
.gtco-card-item figure .overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.gtco-card-item figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gtco-card-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gtco-card-item .gtco-text {
  height:80px;
  padding: 10px 10px 10px 20px;
  margin-bottom: 25px;
  text-align: center;
}
.gtco-card-item .gtco-text.text-left {
  text-align: left;
}
.gtco-card-item .gtco-text h2, .gtco-card-item .gtco-text span {
  text-decoration: none !important;
}
.gtco-card-item .gtco-text h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 10px 0;
  color: #000;
}
.gtco-card-item .gtco-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
.gtco-card-item .gtco-text p {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}
.gtco-card-item .gtco-text span.btn {
  color: #666666 !important;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  background: #ebebeb;
  border: 2px solid #ebebeb !important;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gtco-card-item .gtco-text .gtco-category {
  font-size: 12px;
  color: #cccccc;
}
.gtco-card-item .gtco-text .gtco-category span {
  font-size: 12px;
  color: gray;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.gtco-card-item:hover, .gtco-card-item:focus {
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}
.gtco-card-item:hover img, .gtco-card-item:focus img {
  -webkot-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.gtco-card-item:hover span.btn, .gtco-card-item:focus span.btn {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
  color: #fff !important;
  border: 2px solid #000 !important;
  background: #000 !important;
}
.gtco-card-item:hover figure .overlay, .gtco-card-item:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}
.gtco-card-item:hover figure .overlay i, .gtco-card-item:focus figure .overlay i {
  margin-top: -15px;
}
.gtco-card-item:hover h2, .gtco-card-item:hover span, .gtco-card-item:focus h2, .gtco-card-item:focus span {
  text-decoration: none !important;
}

.gtco-card-item2 {
  display: block;
  width: 100%;
  position: relative;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  padding:50px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gtco-card-item2 figure {
  height: 240px;
  overflow: hidden;
  z-index: 12;
  position: relative;
}
.gtco-card-item2 figure .overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.gtco-card-item2 figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gtco-card-item2 img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.gtco-card-item2 .gtco-text {
  padding: 0px 10px 10px 20px;
  text-align: center;
}
.gtco-card-item2 .gtco-text.text-left {
  text-align: left;
}
.gtco-card-item2 .gtco-text h2, .gtco-card-item2 .gtco-text span {
  text-decoration: none !important;
}
.gtco-card-item2 .gtco-text h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
  color: #000;
}
.gtco-card-item2 .gtco-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
.gtco-card-item2 .gtco-text p {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gtco-card-item2 .gtco-text span.btn {
  color: #666666 !important;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  background: #ebebeb;
  border: 2px solid #ebebeb !important;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gtco-card-item2 .gtco-text .gtco-category {
  font-size: 12px;
  color: #cccccc;
}
.gtco-card-item2 .gtco-text .gtco-category span {
  font-size: 12px;
  color: gray;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.gtco-card-item2:hover, .gtco-card-item2:focus {
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}
.gtco-card-item2:hover img, .gtco-card-item2:focus img {
  -webkot-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.gtco-card-item2:hover span.btn, .gtco-card-item2:focus span.btn {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
  color: #fff !important;
  border: 2px solid #000 !important;
  background: #000 !important;
}
.gtco-card-item2:hover figure .overlay, .gtco-card-item2:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}
.gtco-card-item2:hover figure .overlay i, .gtco-card-item2:focus figure .overlay i {
  margin-top: -15px;
}
.gtco-card-item2:hover h2, .gtco-card-item2:hover span, .gtco-card-item2:focus h2, .gtco-card-item2:focus span {
  text-decoration: none !important;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

#services .box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#services .icon {
  position: absolute;
  left: -10px;
  top: calc(50% - 32px);
}

#services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

#services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #007bff;
}

#services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

#statistik {
  padding: 30px 0 60px 0;
  width: 100%;
  height:100%;
  background: linear-gradient(rgba(29, 200, 205, 0), rgba(0,0,0, 0.2)), url(../img/bg1.jpg) fixed center center;
  background-size: cover;
}


/*layanankami*/
#layanan{
background-image: url(../img/background/bglayanan.svg) ;
padding: 0px 0 26px 0;
}
#layanan .section-bg{
   background: url(../img/background/bg3.svg) ;
    padding: 50px 0 351px 0;
}

#layanan .section-header h3{
   font-size: 50px;
  color: #073c64;
  text-align: center;
  font-weight: bold;
  position: relative;
 right: 38px;
  margin-bottom: 45px;
  top:50px;
}


#layanan .layanan-container .background {
  margin: 0px 0;
}

#layanan .layanan-container .content {
 
  margin-bottom: 80px;
}

#layanan .layanan-container .title {
  
  padding-top: 40px;
  list-style-type: none;
  
}
#layanan .layanan-container .title h2{
  font-size: 32px;
   font-weight: 700;
  color: #1F5FAA;
   margin: 0px 0px 15px 0px;
}
#layanan .layanan-container .title ul {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 15px;
}
#layanan .layanan-container .subtitle {
  line-height: 32px;
  font-weight: 600;
  text-align: left;
  margin: 0px 0px 0px 0px;
}
#layanan .layanan-container .detail{
  line-height: 26px;
  text-align: justify;
  text-indent: 15px;
  font-weight: 400;
  color:#0c2284;
  margin: 0px 0px 0px 0px;
}
#layanan .layanan-container img{
  height: 426px;
  width: auto;
  right: 5px;
}

#layanan .layanan-container p:last-child {
  margin-bottom: 150px;
 /* padding-left: 115px;*/
}

#layanan .layanan-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#layanan .layanan-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#layanan .layanan-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#layanan .layanan-container .icon-box:hover .icon {
  background: #007bff;
}

#layanan .layanan-container .icon-box:hover .icon i {
  color: #fff;
}

#layanan .layanan-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#layanan .layanan-container .icon-box .title a {
  color: #283d50;
}

#layanan .layanan-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#layanan .layanan-extra {
  padding-top: 60px;
}

#layanan .layanan-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/*sublayanan*/
.layanan-container {
  padding-top: 100px;
}
/*endlayanankami*/

/*REGISTER*/
#register{
background-image: url(../img/background/bgregister.svg);
color:#1f3598 ;
margin-top: -11px;
padding: 0px 23px 196px 0;
}
#register .batas .gariskanan{
 position: relative;
 padding-left: 32%;
 margin-top: -165px;
}
#register .batas .gariskiri{
 position: relative;
    padding-left: 35%;
    margin-top: -118px;
    height: 174px;
 width: 100%;
}
#register .section-header h3{
   font-size: 50px;
  color: #073c64;
  text-align: center;
  font-weight: bold;
  position: relative;
 right: -22px;
  margin-bottom: 45px;
  top:12px;
}


#register .register-container .background {
  margin: 0px 0;
}

#register .register-container .content {
 
  margin-bottom: 80px;
}
#register .carousel .mobile-app{
  text-align: center;
  /*padding-left: 81px;*/
  margin: 0px 0px 5px 0px;
}
#register .carousel .carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 40px;
    height: 40px;

    background-size: 100% 100%;
}

#register .carousel .carousel-control-prev-icon{
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f68634' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
/*margin-left:-65px;*/
}

#register .carousel .carousel-control-next-icon{
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f68634' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
  /*margin-right:-113px;*/
}
#register .carousel .carousel-indicators{

    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: circle;
   

}
#register .carousel .carousel-inner .mobile{
  padding-left: 119px;
}
#register .carousel .carousel-indicators .active{
  color: #f68634;
  opacity:1;
}
#register  .title {
 padding-top: 40px;
  list-style-type: none;
  padding-left: 90px;
  
}
#register  .title h2 {
    font-size: 32px;
    font-weight: 700;
    color: #f68634;
    margin: 0px 0px 0px 0px;
}
#register .register-container .title h2 {
    font-size: 32px;
    font-weight: 700;
    color: #f68634;
    margin: 0px 0px 0px 0px;
}

#register .subtitle {
  line-height: 32px;
  font-weight: 600;
  text-align: left;
  margin: 0px 0px 15px 0px;
}
#register .register-container .subEvent{
  font-weight: 500;
  color: red;
  font-size: 18px;
  margin: 0 0 0 0 ;
}
#register .register-container .cover{
  padding-left: 90px;
}
#register  .title ul {
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 15px;
    list-style-type:square;
}
#register .register-container .title ul {
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 15px;
    
}
#register .register-container .title ul li{
    height: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 15px;
    list-style-type:square;
}

#register .batas{
  margin: 320px 0px 0px 0px;
}
#register .register-container p {
  line-height: 32px;
  text-align: justify;
  text-indent: 15px;
  width: 80%;
}
#register .register-container img{
  height:349px;
  width: auto;
  overflow: hidden;
}

#register .register-container p:last-child {
  margin-bottom: 150px;
}

#register .register-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#register .register-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#register .register-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#register .register-container .icon-box:hover .icon {
  background: #007bff;
}

#register .register-container .icon-box:hover .icon i {
  color: #fff;
}

#register .register-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#register .register-container .icon-box .title a {
  color: #283d50;
}

#register .register-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#register .register-extra {
  padding-top: 60px;
}

#register .register-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/*subregister*/
.register-container  {
  padding-top: 15px;
  /*margin-left: 20px;*/
  /*margin-right: -118px;*/
  overflow: hidden;
}
.register-container .kiri{
 /* margin-left: -120px;*/
  z-index: 99999;
}
/*END REGISTER*/


/*=======================*/
/*      Team AND Tolls*/

#team {
  padding: 8px 0px 0px 0px;
 
  }
#team .gambar img{
  max-width: auto;
  max-height: 350px;
  text-align: center;
}
#team .section-header h3 {
  font-size: 50px;
  color: #073C64;
  text-align:center;
  font-weight: bold;
  position: relative;
  top: 30px;
  margin: 0 0 0px 0;
  
}

#team .team-container .background {
  margin: 0px 0;
}

#team .team-container .content {
  background: #fff;
  margin-bottom: 80px;
}

#team .team-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
  
}

#team .team-container p {
  line-height: 32px;
  text-align: justify;
  text-indent: 15px;
}

#team .team-container p:last-child {
  margin-bottom: 150px;
}

#team .team-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#team .team-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#team .team-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#team .team-container .icon-box:hover .icon {
  background: #007bff;
}

#team .team-container .icon-box:hover .icon i {
  color: #fff;
}

#team .team-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#team .team-container .icon-box .title a {
  color: #283d50;
}

#team .team-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#team .team-extra {
  padding-top: 60px;
}

#team .team-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/*subteam*/
.team-container {
  padding-top: 60px;
}
.jarak{
  padding-top: 15px;
  padding-bottom: 20px;
}




/*        akhir team and tools*/
   

#kontak {
  padding: 8px 0px 0px 0px;
 
  }
  #kontak .map{
    padding-bottom: 30px;
  }
  #kontak .map a{
    border: 2px solid ;
    
  }
  .map-container-2{
overflow:hidden;

position:relative;
height:0;
}
#map-container-2 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

#kontak .kontak-container.embed-responsive .embed-responsive-item,
 #kontak .kontak-container .embed-responsive ,
  #kontak .kontak-container .embed-responsive iframe 
   {
    position: absolute;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    border: 0;
}
#kontak .gambar img{
  max-width: auto;
  max-height: 350px;
  text-align: center;
}
#kontak .section-header h3 {
  font-size: 50px;
  color: #073C64;
  text-align:center;
  font-weight: bold;
  position: relative;
  top: 30px;
  margin: 0 0 0px 0;
  
}
#kontak .makeap_but {
  color: #000;
  background-color:transparent;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  margin-left: 35%;
  position: absolute;
  text-align: center;
border-radius: 20px 20px 20px 20px;

}

#kontak .kontak-container .background {
  margin: 0px 0;
}

#kontak .kontak-container .content {
  background: #fff;
  margin-bottom: 80px;
}

#kontak .kontak-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
  
}

#kontak .kontak-container p {
  line-height: 32px;
  text-align: justify;
  text-indent: 15px;
}

#kontak .kontak-container p:last-child {
  margin-bottom: 150px;
}

#kontak .kontak-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#kontak .kontak-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#kontak .kontak-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#kontak .kontak-container .icon-box:hover .icon {
  background: #007bff;
}

#kontak .kontak-container .icon-box:hover .icon i {
  color: #fff;
}

#kontak .kontak-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#kontak .kontak-container .icon-box .title a {
  color: #283d50;
}

#kontak .kontak-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#kontak .kontak-extra {
  padding-top: 60px;
}

#kontak .kontak-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/*subkontak*/
.kontak-container {
  padding-top: 60px;
  padding-bottom: 30px;
}
.jarak{
  padding-top: 15px;
  padding-bottom: 20px;
}




/*        akhir kontak and tools*/
/*=======================*/
#statistik .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#statistik .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#statistik .card p {
  font-size: 15px;
  color: #d8eafe;
}

#statistik .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#statistik .card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#statistik .counters {
  padding-top: 0px;
}

#statistik .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
}

#statistik .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color:white;
}
/* testimoni Section
--------------------------------*/

#testimoni {
  padding: 30px 0 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#testimoni .section-header {
  margin-bottom: -20px;
}
  #testimoni .section-header h3 {
  font-size: 50px;
  color: #073C64;
  text-align: left;
  font-weight: bold;
  position: relative;
  top: -30px;
}

#testimoni .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left;
}

#testimoni .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  margin-left: 140px;
}

#testimoni .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#testimoni .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 140px;
}

#testimoni .owl-nav,
#testimoni .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimoni .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimoni .owl-dot.active {
  background-color: black;
}

/* berita Section
--------------------------------*/

#berita {
  overflow: hidden;
  background:white;
  background-size: cover;
  padding: 30px 0 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
.card-body{
  background-color: #0b3d67;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
   padding: 32px 20px 31px 20px;
    width:auto;
}
.list-group-item.active {
    z-index: 2;
    color: #131212;
    background-color: #ffc107;
    border-color: #212529;
    border-color: #ffc107;
    border-radius: 0px;
    position:relative;
}

.card-img {
    width: 100%;
    height: 100%;
}
#berita .section-header h3 {
  font-size: 50px;
  color: #073C64;
  text-align: right;
  font-weight: bold;
  position: relative;
  right: -40px;
  margin-top: 15px;
  margin-bottom: 45px;
}
.image {
  overflow: block;

}

/* berita Section
--------------------------------*/

#event {
  overflow: hidden;
  background:white;
  background-size: cover;
  padding: 30px 0 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}
.image {
  overflow: block;

}
#event .section-header h3 {
  font-size: 50px;
  color: #073C64;
  text-align: left;
  font-weight: bold;
  position: relative;
  top: -30px;
}
/* Clients Section
--------------------------------*/

#clients {
  padding: 60px 0 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#clients .clients-wrap {
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
}

#clients .client-logo {
  padding: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}

#clients .client-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#clients img {
  transition: all 0.4s ease-in-out;
}


/* Galeri Section
--------------------------------*/

#galeri {
  padding: 30px 0 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
#galeri .section-header h3 {
  font-size: 50px;
  color: #073C64;
  text-align: right;
  font-weight: bold;
  position: relative;
  right: -40px;
  margin-top: 15px;
  margin-bottom: 45px;
}
#galeri #galeri-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#galeri #galeri-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #007bff;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ecf5ff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#galeri #galeri-flters li:hover,
#galeri #galeri-flters li.filter-active {
  background: #007bff;
  color: #fff;
}

#galeri #galeri-flters li:last-child {
  margin-right: 0;
}

#galeri .galeri-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#galeri .galeri-item .galeri-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 0px;
  margin: 0;
}

#galeri .galeri-item .galeri-wrap img {
  opacity: 0.5;
  transition: 0.3s;
  color: grey;
}

#galeri .galeri-item .galeri-wrap .galeri-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 1;
  transition: 0.2s linear;
}

#galeri .galeri-item .galeri-wrap .galeri-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#galeri .galeri-item .galeri-wrap .galeri-info h4 a {
  color: #fff;
}

#galeri .galeri-item .galeri-wrap .galeri-info h4 a:hover {
  color: #007bff;
}

#galeri .galeri-item .galeri-wrap .galeri-info p {
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#galeri .galeri-item .galeri-wrap .galeri-info .link-preview,
#galeri .galeri-item .galeri-wrap .galeri-info .link-details {
  
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#galeri .galeri-item .galeri-wrap .galeri-info .link-preview i,
#galeri .galeri-item .galeri-wrap .galeri-info .link-details i {
  padding-top: 6px;
  font-size: 80px;
  color: red;

}




#galeri .galeri-item .galeri-wrap {
  background: #000;

}

#galeri .galeri-item .galeri-wrap .galeri-info {
  opacity: 1;
}


/* Contact Section
--------------------------------*/

/*  14.Contact Area
/*--------------------------------*/
.contact-area .h3 {
  font-size: 50px;
  color: #073C64;
  text-align: right;
  font-weight: bold;
  position: relative;
  right: -40px;
  margin-top: 15px;
  margin-bottom: 45px;
}
.contact-area {
  height: auto;
  width: 100%;
}

.contact-content {
  padding: 100px;
  background: #000 none repeat scroll 0 0;
}

.contact-content-right {
  padding: 100px;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #444;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 20px;
  width: 100%;
}

.contact-form textarea  {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #444;
  height: 140px;
  padding: 20px;
  width: 100%;
}

.contact-form button[type="submit"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #444;
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
}

.contact-form button[type=submit]:hover {
  color: #fff;
  border: 1px solid #3EC1D5;
  background: #3EC1D5;
}

.contact-form  #sendmessage {
  color: #3EC1D5;
  border: 1px solid #3EC1D5;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contact-form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contact-form #sendmessage.show, .contact-form #errormessage.show, .contact-form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

.single-icon i {
  font-size: 24px;
  width: 50px;
  height: 50px;
  border: 1px solid #444;
  line-height: 46px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.single-icon p {
  font-size: 16px;
  line-height: 30px;
}

.contact-icon {
  margin-bottom: 40px;
}

#google-map {
  height: 370px;
  margin-bottom: 20px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background:#f68634;
  padding: 0 0 0px 0;
  color: #000;
  font-weight: 300px;
  font-size: 18px;
  margin-top: 40px;
}

#footer .footer-top {
  background: #ffff;
  padding: 60px 0 30px 0;
}


#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #001A33;
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: white;
  color: #001A33;
}

#footer .footer-top h4 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px
  color:black;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links a {
  color: white;
}

#footer .footer-top .footer-links ul a:hover {
  color: white;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .copyright {
  text-align: center;
  padding-top: 15px;
 color: white;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}
#footer img{
  color: #f1f7ff;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #testimoni .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #header {
    height: 100px;
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 73px 0 60px 0;
  }

  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #statistik .card {
    margin: 0;
  }

.video-background-overlay {
    position: absolute;
    top: -22px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
  .video-background-overlay {
    position: absolute;
    top: -44px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }
  #intro
.video-background-holder {
    position: relative;
    background-color: white;
    height: calc(91vh - 72px);
    min-height: 26rem;
    width: 100%;
    overflow: hidden;
}
  
.video-background-holder video {
    position: absolute;
    top: 45%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
.video-background-content {
    position: relative;
    z-index: 2;
}
  
.video-background-overlay {
    position: absolute;
    top: -44px;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimoni .testimonial-item {
    text-align: center;
  }
  #koleksi .section-header h3 {
    font-size: 50px;
    color: #073C64;
    text-align: right;
    font-weight: bold;
    position: relative;
    right: 0px;
    margin-bottom: 45px;
}
  .garis{
    position: relative;
    float: right;
    right: -118px;
    top: 5px;
    content: "";
    display: none;
    margin: 20px auto 15px -60px;
    width: 100px;
    border-bottom: 10px solid #FFCD40;
}
.garis2{
    position: relative;
    float: right;
    right: -118px;
    top: 5px;
    content: "";
    display: none;
    margin: 20px auto 15px -60px;
    width: 100px;
    border-bottom: 10px solid #FFCD40;
}
.garis3{
    position: relative;
    float: right;
    right: -118px;
    top: 5px;
    content: "";
    display: none;
    margin: 20px auto 15px -60px;
    width: 100px;
    border-bottom: 10px solid #FFCD40;
}

  #testimoni .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimoni .testimonial-item h3,
  #testimoni .testimonial-item h4,
  #testimoni .testimonial-item p {
    margin-left: 0;
  }
#galeri .section-header h3 {
  font-size: 50px;
  color: #073C64;
  text-align: right;
  font-weight: bold;
  position: relative;
  right: 0px;
  margin-top: 15px;
  margin-bottom: 45px;
}
  


#berita .section-header h3 {
  font-size: 50px;
  color: #073C64;
  text-align: right;
  font-weight: bold;
  position: relative;
  right: 0px;
  margin-top: 15px;
  margin-bottom: 45px;
}

}

@media (max-width: 991px) {
  .list-group-item{
    z-index: 2;
    color: #131212;
    background-color: #ffc107;
    border-color: #212529;
    border-color: #ffc107;
    border-radius: 0px;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 0px 0;
  }
  .video-background-holder {
    position: relative;
    background-color: white;
    height: calc(72vh - 200px);
    min-height: 26rem;
    width: 100%;
    overflow: hidden;
}
}
#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
  fill: #525151;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*event*/
.post {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
}
.post.post-event .event-date {
    border-right: 1px solid #E6E6E6;
    text-align: center;
    margin-top: -15px;
}
.event-date{
   border-right: 1px solid #E6E6E6;
    text-align: center;
    margin-top: -15px;
}
.post .post-event .event-date span {
   
}
.post .post-event .event-date strong {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Circular Std";
    font-weight: bold;
    color: #222;
}
.post .post-content .post-title>h3 {
    margin: 0 0 5px;
    line-height: 1.3;
    font-weight: normal;
    font-size: 18px;
}
.post .post-content .post-title>h3 a {
    color: inherit;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: 0px;
}
.post .post-content .post-title a:hover,a:active,a:focus {
  color: blue;
  outline: none;
  text-decoration: none;
}

.post .post-content .post-title .post-date, .post .post-content .post-title .post-category, .post .post-content .post-title .post-category a {
    margin: 0 7px 7px 0;
    display: inline-block;
    text-decoration: none;
    color: #a6a6a6;
    font-family: "Proxima Nova";
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.makeap_but {
  color: white;
  background-color: blue;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  margin-left: 45%;
  position: absolute;
  text-align: center;

}

/*buku*/
#buku {
  width: 100%;
  position: relative;
  background: url("../img/bg1.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 120px 0;
}
.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: navy;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid blue;
  width: 1055px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: navy;
  font-size: 17px;
  border: 1px solid blue;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: blue;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
#portfolio {
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #073c64;
/*  border-radius: 50px;*/
  text-transform: uppercase;
  background: #ecf5ff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  background: #073c64;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #007bff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #007bff;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #3395ff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #003166;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.bg-berita{
  background-color: #e5e5e5;;
  opacity: 0.8;
}
.list-group-item .list-group-item-active {
    z-index: 2;
    color: #131212;
    background-color: #a5c581;
    border-color: #007bff;
  
}
.bg-berita a {
  color:  #000;

}
.bg-berita a :hover{
 text-decoration:  underline;
}
/*@media (min-width: 991px) and (max-width: 1199.98px) {
 h2{font-size:25px}
  }
.card-title {
    margin-bottom: .75rem;
    font-size: 1rem;
    
}
 
}*/
@media (max-width: 576px) {
  
   .card-title {
    margin-bottom: .75rem;
    font-size: 15px;
    
}
.card-text:last-child {
    margin-bottom: 0;
    font-size: 10px;
}
.small, small {
    font-size: 55%;
    font-weight: 400;
}
.list-group-item {
    z-index: 2;
    color: #131212;
    background-color: #ffc107;
    border-color: #212529;
    border-color: #ffc107;
    border-radius: 0px;
    position: relative;
    font-size: 12px;
}
}.float-btn{
            background:gold;
            display: inline-block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: white;
            font-size: 30px;
            font-weight: bold;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            text-decoration: none;
            transition: ease all 0.3s;
            position: fixed;
            right: 14px;
            bottom: 73px;
        }
.float-btn:hover{
  width: 100px;
  -webkit-border-radius: 10%;
  transition: width 1s;
  -webkit-transition: width 1s;
}
.formtamu{
    height: auto;
    padding: 12px 20px 18px 20px;
  }
.form-group{
  font-family: monospace;
}


/*Galery*/
.galerry li{
  height: 200px;
  width: 200px;
  margin-right: 15px;
  /*overflow:hidden;*/
  border:5px solid #666;
  float: left;
  position: relative;
}
.galerry li span{
  display: block;
  height: 200px;
  width: 200px;
  color: rgba(200,200,200,.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 200px;
  opacity: 0;
}
.galerry li a:hover span{
  opacity: 1;
}
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  z-index: 9999;
  transition: .1s;
  width: 0;
  height: 0;
  overflow: hidden;
}
.overlay:target{
  width: auto;
  height: auto;
  text-align: center;
   left: 0;
  bottom:0;
  padding: 100px 0;
  

}
.overlay img{
  max-height: 100%;
 border:3px solid #fff;

}
.overlay p{
  color: white;
  max-height: 100%;
 border:3px solid #fff;

}

.overlay:target img,p{
  animation: zoomAndfade 1s;
}

@-webkit-keyframes zoomAndfade{
  0%{
    opacity: 0;
   -webkit-transform: scale(0);
  }
 
 100%{
    opacity: 1;
     -webkit-transform: scale(1);
  }
}
.embed-responsive .embed-responsive-item,
 .embed-responsive embed,
  .embed-responsive iframe, 
  .embed-responsive object,
   .embed-responsive video {
    position:absolute;
    top: 30px;
    bottom: 0;
    left: 30px;
    right: 30px;
    width: 100%;
    height: 100%;
    border: 0;
}
  .modal-content{
    background-color: #000;
  }
  .modal-content .caption{
    color:#fff;
  position: absolute;
  top:30px;
  bottom:0;
  left:30px;
  right:30px;
  width:100%;
  height:auto;
  border:0
  
  }
  .modal-content .caption h3{
    color:red;
  position: absolute;
  font-size: 20px;
  top:0px;
  bottom:0;
  left:30px;
  right:30px;
  width:auto;
  height:auto;
  border:0
 
  }
  .modal-content .caption .isi p{
    color:#fff;
  position: absolute;
  top:55px;
  bottom:0;
  left:30px;
  right:45px;
  width:auto;
  height:auto;
  border:0
  
  }
  .modal-content .embed-responsive iframe{
    border:6px solid ;
  }
  .modal-content .embed-responsive {
    /* position: static; */
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
#garis{
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
 #garis .garis{
  border-radius: 10px 10px 50% 50%;
  color: red;
 }
 #garis .kotak{
  background: #000;
  padding: 20px;
  width: 200px;
  float: left;
  margin: 20px;
  height: 200px;
}